@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* TimeLine */
.timeline {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  margin-left: 30px;

  font-family: 'Open Sans', sans-serif;
  color: #222;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: -webkit-paged-x;
  p {
    font-size: 10px;
    margin-bottom: 12px;
  }
  ol {
    font-size: 0;
    width: 100vw;
    padding: 340px 0 420px 0;
    transition: all 1s;
    li {
      position: relative;
      display: inline-block;
      list-style-type: none;
      width: 240px;
      height: 14px;
      background: #90A4AE;
      &:last-child {
        width: 100vw;
      }
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 46px;
        bottom: 0;
        width: 50px;
        height: 50px;
        transform: translateX(-40%);
        border-radius: 50%;
        border: solid 7px #90A4AE;
        z-index: 20;
        cursor: pointer;
      }
    }
  }
}

// Events
.timeline ol li > div {
  cursor: pointer;
  position: absolute;
  left: 50px;
  width: 240px;
  padding: 0;
  font-size: 1rem;
  white-space: normal;
  border-left: dotted 2px #90A4AE;
  time {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -4px;
    border-left: 6px solid #222222;
    padding: 8px;
  }
  .content {
    padding: 8px 8px 0 12px;
    height: auto;
    color: #706F6F;
    time, .title, .evidence {
      font-weight: bold;
    }
    .title {
      margin-bottom: 0;
    }
  }
}

.timeline ol li.hide {
  & > div {
    left: 50px;
    .separator {
      display: none;
    }
  }
  .content {
    display: none;
  }
  &.up {
    time {
      margin-bottom: 16px;
    }
  }
  &.down {
    time {
      margin-top: 16px;
    }
  }
}

.timeline ol li {
  &.up {
    & > div {
      top: -40px;
      transform: translateY(-100%);
    }
    &:not(:last-child)::after {
      top: -260%;
    }
  }
  &.down {
    & > div {
      top: calc(100% + 36px);
    }
    &:not(:last-child)::after {
      top: 0;
    }
  }
}

/* ________________________ Specific style ________________________*/
.timeline {
  .mars {
    width: 155px;
    & > div {
      width: 155px;
    }

    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #fcbe3c,
    //   0 0 35px #fcbe3c,
    //   0 0 40px #fcbe3c,
    //   0 0 50px #fcbe3c,
    //   0 0 75px #fcbe3c;
    // }

    &::after {
      background: #fcbe3c;
    }
    time, .title, .evidence {
      color: #fcbe3c;
    }
    time {
      border-left: 6px solid #fcbe3c;
    }
  }

  .april {
    width: 100px;
    & > div {
      width: 450px;
    }

    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #f58125,
    //   0 0 35px #f58125,
    //   0 0 40px #f58125,
    //   0 0 50px #f58125,
    //   0 0 75px #f58125;
    // }

    &::after {
      background: #f58125;
    }
    time, .title, .evidence {
      color: #f58125;
    }
    time {
      border-left: 6px solid #f58125;
    }
  }

  .june {
    width: 150px;
    & > div {
      width: 130px;
    }

    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #f0502b,
    //   0 0 35px #f0502b,
    //   0 0 40px #f0502b,
    //   0 0 50px #f0502b,
    //   0 0 75px #f0502b;
    // }

    &::after {
      background: #f0502b;
    }
    time, .title, .evidence {
      color: #f0502b;
    }
    time {
      border-left: 6px solid #f0502b;
    }
  }

  .july {
    width: 200px;
    & > div {
      width: 200px;
    }
    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #9e1f62,
    //   0 0 35px #9e1f62,
    //   0 0 40px #9e1f62,
    //   0 0 50px #9e1f62,
    //   0 0 75px #9e1f62;
    // }
    &::after {
      background: #9e1f62;
    }
    time, .title, .evidence {
      color: #9e1f62;
    }
    time {
      border-left: 6px solid #9e1f62;
    }
  }

  .september {
    width: 60px;
    & > div {
      width: 220px;
    }
    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #652d91,
    //   0 0 35px #652d91,
    //   0 0 40px #652d91,
    //   0 0 50px #652d91,
    //   0 0 75px #652d91;
    // }
    &::after {
      background: #652d91;
    }
    time, .title, .evidence {
      color: #652d91;
    }
    time {
      border-left: 6px solid #652d91;
    }
  }

  .october {
    width: 220px;
    & > div {
      left: -10px !important;
      width: 220px;
    }
    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #24aae1,
    //   0 0 35px #24aae1,
    //   0 0 40px #24aae1,
    //   0 0 50px #24aae1,
    //   0 0 75px #24aae1;
    // }
    &::after {
      background: #24aae1;
    }
    time, .title, .evidence {
      color: #24aae1;
    }
    time {
      border-left: 6px solid #24aae1;
    }
  }

  .november {
    width: 160px;
    & > div {
      width: 240px;
    }
    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #2bb572,
    //   0 0 35px #2bb572,
    //   0 0 40px #2bb572,
    //   0 0 50px #2bb572,
    //   0 0 75px #2bb572;
    // }
    &::after {
      background: #2bb572;
    }
    time, .title, .evidence {
      color: #2bb572;
    }
    time {
      border-left: 6px solid #2bb572;
    }
  }

  .december {
    width: 80px;
    & > div {
      left: -170px;
      width: 400px;
    }
    // &:not(.hide)::after {
    //   box-shadow: 0 0 5px #fff,
    //   0 0 10px #fff,
    //   0 0 15px #fff,
    //   0 0 20px #a6ce39,
    //   0 0 35px #a6ce39,
    //   0 0 40px #a6ce39,
    //   0 0 50px #a6ce39,
    //   0 0 75px #a6ce39;
    // }
    &::after {
      background: #a6ce39;
    }
    time, .title, .evidence {
      color: #a6ce39;
    }
    time {
      border-left: 6px solid #a6ce39;
    }
  }
}

.timeline .disabled {
  opacity: .5;
}

.arrows-left, .arrows-right {
  background: #ffffff;

  box-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 20px #ffffff,
  0 0 35px #ffffff,
  0 0 40px #ffffff,
  0 0 50px #ffffff,
  0 0 75px #ffffff;

  position: absolute;
  top: 330px;
  transform: translateY(-50%);
  height: 600px;
  z-index: 90;
  div {
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      margin-top: 300px;
    }
  }
}

.arrows-left {
  left: 0;
}
.arrows-right {
  right: 0;
}

.timeline .arrows-right img, .timeline .arrows-left img {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 599px){
  .june {
    time {
      margin-top: 16px;
    }
    .content {
      border-left: 6px solid #f0502b;
      margin-left: -4px;
      padding-bottom: 16px !important;
    }
    & > div {
      padding-bottom: 0;
    }
  }

  .july {
    time {
      margin-top: 16px;
    }
    .content {
      border-left: 6px solid #9e1f62;
      margin-left: -4px;
      padding-bottom: 16px !important;
    }
    & > div {
      padding-bottom: 0;
    }
  }

  .october {
    time {
      margin-top: 16px;
    }
    .content {
      border-left: 6px solid #24aae1;
      margin-left: -4px;
      padding-bottom: 16px !important;
    }
    & > div {
      padding-bottom: 0;
    }
  }

  .december {
    time {
      margin-top: 16px;
    }
    .content {
      border-left: 6px solid #a6ce39;
      margin-left: -4px;
      padding-bottom: 16px !important;
    }
    & > div {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .timeline .arrows-right img, .timeline .arrows-left img {
    width: 30px !important;
    height: 30px !important;
  }
  .timeline ol {
    padding: 600px 0 16px 0;;
  }
  .timeline li:not(:last-child) {
    width: 100vw !important;
    left: 20px !important;
    .separator {
      display: none;
    }
    & > div {
      top: -40px !important;
      transform: translateY(-100%) !important;
      time {
        margin-top: 0 !important;
        margin-bottom: 16px;
      }
    }
    &::after {
      left: 20px !important;
      top: -260% !important;
    }

    & > div {
      left: 20px !important;
      width: 240px !important;
    }
  }
  .timeline li:last-child {
    width: 100vw;
  }
}

