$mobile-boundary: 480px;
$tablet-boundary: 768px;
$laptop-boundary: 1024px;
$desktop-boundary: 1440px;
$large-screen-boundary: 2560px;

/**
 * usage: @include for-size(desktop) {content}
 **/
@mixin for-size($range) {
  @if $range == mobile {
    @media all and (max-width: #{$mobile-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media all and (max-width: $tablet-boundary) {
      @content;
    }
  } @else if $range == laptop {
    @media all and (max-width: $laptop-boundary) {
      @content;
    }
  } @else if $range == desktop {
    @media all and (max-width: $desktop-boundary) {
      @content;
    }
  } @else if $range == large-screen {
    @media all and (max-width: $large-screen-boundary) {
      @content;
    }
  }
}
